@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shered style */
* {
    font-family: "Work Sans", sans-serif;
}

.text-common-color {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}

.section-title {
    color: #131313;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
}

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav li {
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
}

.banner-container {
    width: 54rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-style: normal;
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}



.btn-primary {
    background: #FF900E;
    border: 0px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style */
main {
    max-width: 1200px;
    margin: 60px auto;
}

.team-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 6rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.team-img-container>img {
    width: 100%;
}

.team-contant {
    padding: 0 6rem;
    width: 537px;
}

.quick-list {
    color: #727272;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
}

.of-our {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.feature {
    color: #FF900E;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}

/* feature style */
.feature-container {
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

.feature-contant .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.feature-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
}

.ten-years-badge {
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    width: 280px;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}

.feature-img img {
    height: 90%;
    width: 700px;
    margin-left: 90px;
}

/* facts style */
.facts-card-container {
    display: flex;
    justify-content: space-evenly;
}

.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-state {
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    color: #727272;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* sponspors style */
.sponspors {
    text-align: center;
}

.sponspor-img-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}

.sponspor-img-container img {
    width: 150px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    background: #FFF4E7;
    color: #727272;
    border-radius: 8px;
    margin-top: 20px;


}

/* Responsib website style*/
/* For mobile device */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    ul,
    .team-container,
    .facts-card-container,
    .sponspor-img-container,
    .feature-container {
        flex-direction: column;
    }

    .banner-container {
        width: 100%;
    }

    .banner-title {
        font-size: 2rem;
    }

    .team-contant {
        width: 100%;
    }

    .feature-img img {
        width: 90%;
        margin-left: 0%;
    }

    .ten-years-badge {
        position: static;
        max-width: 300px;
    }

    .facts-card-container {
        gap: 15px;
    }

    .footer {
        max-width: 100%;
    }

}

/* For Mediam device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    nav,
    .team-container,
    .feature-container,
    .sponspor-img-container {
        flex-direction: column;
    }

    header {
        padding: 20px;
        background: rgba(255, 144, 14, 0.1);
    }

    .banner-container {
        width: 100%;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-contant {
        width: 100%;
    }

    .footer {
        width: 100%;
    }


}